body {
    background-color: #E96479;
    text-align: center;
    color: black;
    justify-content: center;
}
#bienvenida {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.villagran {
    height: auto;
    margin: 20px;
    width: 35%;
    float: left;
    margin-top: 10px;
}
h1 {
    background-color: #4D455D;
    color: white;
    text-align: center;
    border: 2px solid black;
}
.parrafo1 {
    background-color: #F5E9CF;
    font-family: 'Georgia', serif;
    border: 2px solid black;
    width: 100%;
    padding: 60px;
    box-sizing: border-box;
    text-align: justify;
}
.button-style {
    background-color: #F5E9CF;
    float: center;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px;
    cursor: pointer;
    width: 300px;
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Georgia', serif;
    background-color: #89CFFD;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

tr.primer {
    background-color: #F5E9CF;
}
.kardex {
    background-color: #FF7F3F;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.menu {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}
.profesion {
    background-color: #7DB9B6;
    border: 1px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.proyectos {
    background-color: #7DB9B6;
    border: 1px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}


